{%extends "base.html"%}

{% block content %}

<form method="POST" action="{{ url_for('new_door_pattern')}}">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" name="username">DOOR PATTERN ID</label>
        <input type="text" name="door_pattern_id_edit" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" name="username">DOOR PATTERN</label>
        <input type="text" name="door_pattern_edit" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>


    <button type="submit" class="btn btn-secondary" name="create" value="create">Submit</button>
</form>



{% endblock %}