{%extends "base.html"%}

{% block content %}

<form method="POST" action="{{ url_for('new_highlight')}}">
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" name="username">highlight ID</label>
        <input type="text" name="highlight_id_edit" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label" name="username">highlight</label>
        <input type="text" name="highlight_edit" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>


    <button type="submit" class="btn btn-secondary" name="create" value="create">Submit</button>
</form>

<br><br>


{% endblock %}